<!DOCTYPE html>
<html>
<head>
  <title>Matches</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">

<h1>Your Top Matches</h1>

<div class="card">
  <h3>Rahul Sharma</h3>
  <p>Match Score: 82%</p>
  <button onclick="showPopup()">Invite</button>
</div>

<div class="card">
  <h3>Aman Verma</h3>
  <p>Match Score: 76%</p>
  <button onclick="showPopup()">Invite</button>
</div>

</div>

<div class="popup" id="popup">
  <h3>Invite Sent!</h3>
  <button onclick="goTeam()">Go to Team</button>
</div>

<script src="script.js"></script>

</body>
</html>
