<!DOCTYPE html>
<html>
<head>
  <title>Create Profile</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h2>Student Profile</h2>

<label>Skills:</label><br>
<input type="checkbox"> Python
<input type="checkbox"> Java
<input type="checkbox"> SQL
<input type="checkbox"> Web Dev
<br><br>

<label>Interest:</label><br>
<input type="text">
<br><br>

<label>Availability:</label><br>
<input type="text" placeholder="e.g. 7PM - 9PM">
<br><br>

<a href="matches.html">
  <button>Find Matches</button>
</a>

</body>
</html>

